<h2><%= doku.title %> </h2>
<p><%= doku.description %> </p>
<video src="/media/<%= doku.path.split(" ").join("%20") %><%= doku.filename.split(" ").join("%20") %>" controls>
    Ihr Browser kann dieses Video nicht wiedergeben.<br />
    Dieser Film zeigt eine Demonstration des video-Elements.
    Sie können ihn unter <a href="#">Link-Addresse</a> abrufen.
</video>

<a href="javascript:history.back()">Zurück</a>