<h2><%= doku.title %> </h2>
<p><%= doku.description %> </p>
<video src="/media/<%= doku.path.split(" ").join("%20") %><%= doku.filename.split(" ").join("%20") %>" controls>
</video>

<a href="javascript:history.back()">Zurück</a>